* {
    margin: 0;
    padding: 0;
}

.container {
	width: 80%;
	max-width: 1280px;
	margin: 0 auto;
	padding-top: 50px;
	display: flex;
}

.slide-wrapper {
	width: 500px;
	margin: 0 auto;
	display: flex;
	align-items: center;
}

.slide-left,
.slide-right {
	width: 30px;
	height: 40px;
	color: #000;
	background-color: rgb(133, 228, 228);
	font-weight: bold;
	border: 1px solid rgb(202, 196, 196);
	border-radius: 7px;
	cursor: pointer;
}

.slide-seen {
	width: 280px;
	overflow: hidden;
	padding: 0 5px;
}

.slide-img {
	display: flex;
	transition: 0.4s linear;
}

.slide-item {
	width: 98%;
	padding: 5px;
}

.move {
    transform: translateX(-180px);
}

.move2 {
    transform: translateX(-360px);
}

.move3 {
    transform: translateX(-540px);
}

.move4 {
    transform: translateX(-720px);
}

.move5 {
    transform: translateX(-900px);
}

.move6 {
    transform: translateX(-1080px);
}